pandas 
numpy 
scikit-learn 
matplotlib 
tensorflow
keras
tensorboard 
earthengine-api 
geemap 
google-cloud-storage 
xarray 
dask[distributed]
rasterio
rioxarray 
xarray-spatial 
earthaccess 
pyproj 
shap